body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  color: white;
  font-family: helvetica;
}

#space {
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#gramBox {
  margin: 0 auto;
  justify-content: space-around;
  text-shadow: 1px 1px 1px #000;
}

.pCol {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 400px;
  margin-top: 5%;
  position: relative;
}

.pCol > img {
  position: relative;
  width: 100%;
}

.pCol div {
  margin: 10px 0;
}

.pData {
  position: relative;
  width: 100%;
}

.pData img {
  max-width: 100%
}

.emoji {
  font-size: 3em;
}

.absolute {
  position: absolute;
}
img.absolute {
  z-index:10000;
}

.flex {
  display: flex;
}

#loveBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  top:0;
  left:0;
}

.imgBox {
  width: 20vw;
  height: 20vw;
}
.imgBox img {
  width: 100%;
}

.profPic {
  width:100%;
}
